html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
}

h1 {
    text-shadow: 2px 2px 5px #F98F39;
    font-family: 'virusfont', sans-serif;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#area {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

#tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 580px;
    height: 100%;
    transition: width .8s;
}

@font-face {
    font-family: 'virusfont';
    src: url('../fonts/DoubleFeature20.ttf') format('truetype');
}

@font-face {
    font-family: 'virusfont2';
    src: url('../fonts/NightOfTerror.ttf')
    format('truetype');

}

@media only screen and (max-width: 1700px) {
    #tools {
        width: 440px;
    }
}

@media only screen and (max-width: 1540px) {
    #tools {
        width: 300px;
    }
}

@media only screen and (max-width: 1380px) {
    #tools {
        width: 160px;
    }
}

#tools>div {
    display: block;
    background-image: url('../textures/01_130x66_130x230.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 130px;
    height: 230px;
    border: 2px dashed transparent;
    box-sizing: border-box;
}

#tools>div.selected {
    border-color: #b05355;
}

@media only screen and (max-width: 966px) {
    #main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #tools {
        display: flex;
        align-items: center;
        overflow: auto;
        width: 100%;
        height: 240px;
    }
    #area {
        justify-content: flex-start;
    }
    .sideNav {
        padding-top: 15px;
    }
}

.nav-main {
    color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #63625e;
    /* opacity: 0.7; */
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.btn-toggle-nav {
    position: fixed;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #F98F39;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

.btn-toggle-nav:hover {
    opacity: 0.5;
}

.sideNav {
    color: #fff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    opacity: 0.8;
}

.sideNav a {<<<<<<< mitchell-alton
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}
/* 
.nav-main div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

#sim-var {
    margin-left: 25%;
}

.myButton {
    margin-left: 6.5%;
    box-shadow: 1px 1px 5px #F98F39;
    background: linear-gradient(to bottom, #818181 5%, #fff 100%);
    background-color: #111;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 25px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #F98F39;
}

.myButton:hover {
    background: linear-gradient(to bottom, #111 5%, #F98F39 100%);
    background-color: #818181;
    color: #fff;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.counter-border {
    height: 40px;
    /* display: inline; */
	/* background:linear-gradient(to bottom, #111 5%, #F98F39 100%); */
    background-color: #F98F39;
    /* white-space: nowrap; */
    color: #111;
    text-shadow: 2px 2px 8px #FFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* border-style: solid; */
    /* border-color: #F98F39; */
    box-shadow: -10px 10px 10px #111; 
    

}

#form-border {
    margin-left: 7%;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    border-style: solid;
    border-color: #111;
    box-shadow: 5px 5px 10px #F98F39;
    padding: 5px 5px;
}

#time {
    font-family: 'virusfont2', sans-serif;
}

#people-Infected {
    font-family: 'virusfont2', sans-serif;
}