html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
}

h1 {
	text-shadow:2px 2px 5px #F98F39 ;
    font-family: 'virusfont', sans-serif;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#area {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

#tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 580px;
    height: 100%;
    transition: width .8s;
}

@font-face {
    font-family: 'virusfont';
    src: url('../fonts/DoubleFeature20.ttf')
    format('truetype');
}

@media only screen and (max-width: 1700px) {
    #tools {
        width: 440px;
    }
}

@media only screen and (max-width: 1540px) {
    #tools {
        width: 300px;
    }
}

@media only screen and (max-width: 1380px) {
    #tools {
        width: 160px;
    }
}

#tools>div {
    display: block;
    background-image: url('../textures/01_130x66_130x230.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 130px;
    height: 230px;
    border: 2px dashed transparent;
    box-sizing: border-box;
}

#tools>div.selected {
    border-color: #b05355;
}

@media only screen and (max-width: 966px) {
    #main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #tools {
        display: flex;
        align-items: center;
        overflow: auto;
        width: 100%;
        height: 240px;
    }
    #area {
        justify-content: flex-start;
    }
    .sideNav {
        padding-top: 15px;
    }
}


.nav-main {
	color: #111;
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #63625e;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
}


.btn-toggle-nav {
	position: fixed;
	left: 0;
	width: 60px;
	height: 60px;
	background-color: #F98F39;
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	cursor: pointer;
}


.btn-toggle-nav:hover {
	opacity: 0.5;
}


.sideNav{
	color: #fff;
	height: 100%;
	width: 0;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sideNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sideNav a:hover {
	color: #f1f1f1;
  }


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}