html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#area {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

#tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 580px;
    height: 100%;
    transition: width .8s;
}

@media only screen and (max-width: 1700px) {
    #tools {
        width: 440px;
    }
}

@media only screen and (max-width: 1540px) {
    #tools {
        width: 300px;
    }
}

@media only screen and (max-width: 1380px) {
    #tools {
        width: 160px;
    }
}

#tools>div {
    display: block;
    background-image: url('../textures/01_130x66_130x230.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 130px;
    height: 230px;
    border: 2px dashed transparent;
    box-sizing: border-box;
}

#tools>div.selected {
    border-color: #b05355;
}

@media only screen and (max-width: 966px) {
    #main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #tools {
        display: flex;
        align-items: center;
        overflow: auto;
        width: 100%;
        height: 240px;
    }
    #area {
        justify-content: flex-start;
    }
    .sideNav {
        padding-top: 15px;
    }
}


/* .nav-main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #63625e;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
} */


/* .btn-toggle-nav {
	position: fixed;
	left: 0;
	width: 60px;
	height: 100%;
	background-color: #F98F39;
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	cursor: pointer;
} */


/* .btn-toggle-nav:hover {
	opacity: 0.5;
} */


/* .nav-main ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}

.nav-main ul li {
	list-style: none;
	line-height: 60px;
} */


/* .nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
} */


/* .nav-sidebar {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 50px;
	height: cacl(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1;
} */


/* .nav-sidebar form{
	
} */

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #63625e;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav:hover {
    opacity: 0.5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}